
<!DOCTYPE html>
<html>

  <head>
    <link href="Desktop/Stage4-Submission/Nano-Intro-Pgm-Notes-CSS-Sublime.css" type="text/css" rel="stylesheet" />
    <title>Intro To Web Programming Notes</title>
    <meta charset="UTF-8">
  </head>

  <body style="margin: 0">

  <div class="top-page">
     <div>
       <img src="Users/Desktop/Stage4-Submission/Images/badlands.jpg" class="images" alt="Badlands National Park Late Afternoon" title="Badlands at Dusk" />
     </div>
      
     <div>
       <p>This page is developed by Virginia LaFlamme<br /><br /> Photography by Virginia LaFlamme</p>
     </div>
  </div>

    {% block content %}
    {% endblock %}
  </body>

</html>
